@mixin text-styles($font-size, $font-color) {
  font-size: $font-size;
  color: $font-color;
  letter-spacing: 1px;
}

@mixin breakpoint($size) {
  @media only screen and (max-width: $size + px) {
    @content;
  }
}