$font-family-fjalla: 'Fjalla One', sans-serif;
$font-family-abril: "Abril Fatface", sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;

$bold-font-weight: 600;

$white: #ffffff;
$black: #000000;
$yellow:rgb(241, 206, 126);
$light-brown: #a0916d;
$dark-brown:#5a4f45;
$beige:#f0efe9;

$extra-xl-font-size:60px;
$lg-font-size: 18px;
$md-font-size: 15px;
$sm-font-size: 12px;

//$xxxl-font-size: 36px;
//$xxl-font-size: 28px;
//$xl-font-size: 24px;
//$lg-second-font-size: 20px;

