$font-family-fjalla: 'Fjalla One', sans-serif;
$font-family-abril: "Abril Fatface", sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;

$white: #ffffff;
$black: #000000;
$yellow:rgb(241, 206, 126);
$light-brown: #a0916d;
$dark-brown:#5a4f45;
$beige:#f0efe9;
$dark-beige: #e2e1db;

$extra-xl-font-size:60px;
$xl-font-size: 34px;
$lg-font-size: 18px;
$md-font-size: 15px;
$sm-font-size: 12px;