@import "../abstracts/variables";

.login {
  display: flex;

  &__container {
    max-width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 130px auto;
    align-items: center;
  }

  &__message {
    padding-top: 20px;
    color: red;
  }
}

.form {
  &__button {
    width: 40%;
    padding: 7px;
    margin: 20px 0;
    color: $dark-brown;
  }
}
.input__email{
  margin: 5px;
}
.input__password{
  margin: 5px;
}