@import "../abstracts/variables";

.product-categories {
  padding: 30px;
  text-align: center;

  &__sub-title {
    color: $light-brown;
  }
}

.categories {

  &__button {
    padding: 15px 30px;
    background-color: $beige;
    color: $dark-brown;
    margin: 50px;

    &--hovered:hover {
      background-color: $yellow;
      cursor: pointer;
    }
  }
}