@import "../abstracts/variables";
@import '../abstracts/mixins';

html {
  height: 100%;
}

.body {
  height: 100%;
  font-family: $font-family-fjalla;
  @include text-styles($md-font-size, $dark-brown);
  line-height: 25px;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  width: 65%;
  padding: 35px 20px;
}

.background {
  background-repeat: no-repeat;
  background-image: url(http://chocorocco.ancorathemes.com/wp-content/uploads/2017/09/slide1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.title {
  @include breakpoint(500) {
    font-size: $xl-font-size;
  }
  font-size: $extra-xl-font-size;
  font-family: $font-family-abril;
  text-align: center;
  letter-spacing: 5px;
  line-height: 1.0;

  &--uppercase {
    @include text-styles(1.667rem, $light-brown);
    font-family: $font-family-fjalla;
    text-transform: uppercase;
    line-height: 1.32;
    font-weight: 600;
  }
}

.sub-title {
  font-family: $font-family-montserrat;
  letter-spacing: 1px;
  font-style: italic;
  line-height: 19px;
  font-size: $sm-font-size;
}

.button {
  font-family: $font-family-fjalla;
  text-transform: uppercase;
  border: none;
  outline: none;
  line-height: 24px;
  transition: all 0.6s ease;
  text-decoration: none;
  display: inline-block;
}